@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 50px;
    transition: 500ms ease-in-out all;
}

h1{
    text-align: center;
    top: 5px;
    font-size: 6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.winner-container h2{
    text-align: center;
    top: 5px;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
}

.winner-container{
    display: none;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.winner-container button{
    border: none;
    padding: 10px;
    width: 100%;
    height: 50px;
    font-size: 2rem;
    background-color: black;
    color: white;
    cursor: pointer;
}

.winner-container button:hover{
    opacity: 0.5;
}

.container{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    transition: 200ms ease-in-out all;
    border: 5px solid black;
}

.tile{
    width: 175px;
    height: 175px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    font-family: 'Poppins', sans-serif;
    transition: 500ms ease-in-out all;
}

.tile:hover{
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.582);
    transition: 150ms ease-in-out all;
}

.tile-one, .tile-four{
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

.tile-three, .tile-six{
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}

.tile-two, .tile-five{
    border-bottom: 5px solid black;
}

.tile-seven{
    border-right: 5px solid black;
}

.tile-nine{
    border-left: 5px solid black;
}

@media all and (max-width: 800px) {
    h1{
        font-size: 4rem;
    }
    
    .tile{
        width: 150px;
        height: 150px;
        font-size: 4rem;
    }

    .winner-container button{
        width: 80%;
    }
    .winner-container h2{
        font-size: 3rem;
    }
}


@media all and (max-width: 500px) {
    h1{
        font-size: 3.5rem;
    }

    .tile{
        width: 120px;
        height: 120px;
    }
    .tile:hover{
        background-color: aquamarine;
    }
    .tile:active{
        cursor: pointer;
        background-color: rgba(255, 0, 0, 0.582);
        transition: 300ms ease-in-out all;
    }
    .winner-container h2{
        font-size: 2.5rem;
    }
}

@media all and (max-width: 390px) {
    h1{
        font-size: 3.5rem;
    }
    
    .tile{
        width: 90px;
        height: 90px;
        font-size: 3.5rem;
    }
    .winner-container{
        flex-direction: column;
    }
    .winner-container h2{
        font-size: 2rem;
    }
    .winner-container button{
        font-size: 1.5rem;
    }
}

@media all and (max-width: 300px) {
    h1{
        font-size: 2.5rem;
    }
    
    .tile{
        width: 70px;
        height: 80px;
        font-size: 3rem;
    }
    .winner-container h2{
        font-size: 1.5rem;
    }
    .winner-container button{
        font-size: 1rem;
        height: 30px;
    }
}